<h1>Fill out this form</h1>
<form action="/hello/" method="POST">
  <fieldset>
    <label for="greeting">Greeting:</label>
    <input type="text" name="greeting" id="greeting">
    <br>
    <label for="name">Your name:</label>
    <input type="text" name="name" id="name">
    <br>
    <input type="submit">
  </fieldset>
</form>