<h1>
  <%= room.name %>
</h1>

<pre>
  <%= room.description %>
</pre>

<% if room.name == 'Death' || room.name == 'The End' %>
  <p>
    <a href="/">Play again?</a>
  </p>
<% else %>
  <form action="/game" method="POST">
    <label for="action">Action:</label>
    <input type="text" name="action">
    <input type="submit">
  </form>
<% end %>